* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --darkgray: #333333;
  --mediumgray: #555555;
  --gray: #bebebe;
  --lightgray: #dcdcdc;
  --lightlightgray: #f3f3f3;
  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --lightcyan: #00b9d5;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--cyan);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  color: var(--darkgray);
}

main {
  background-color: var(--lightlightgray);
  border-radius: 4px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: var(--darkgray);
  margin-bottom: 10px;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 10px;
  color: var(--cyan);
}

small {
  font-size: 0.875rem;
  color: var(--mediumgray);
  display: block;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Styles for About*/
.profile-image {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  align-items: center;
}

/* Styles for form */
.input-group {
  margin-bottom: 15px;
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--darkgray);
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--darkgray);
}

fieldset {
  border: 1 px;
  border-radius: 5px;
  margin-bottom: 20px;
}

legend {
  font-weight: 600;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  margin-right: 20px;
  font-weight: 400;
}

/* Buttons */
button {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

.btn.primary {
  background-color: var(--cyan);
  color: var(--white);
}

.btn.secondary {
  background-color: var(--lightlightgray);
  color: var(--darkgray);
  margin-left: 10px;
}

button:focus {
  outline: none;
}

.button-container {
  text-align: center;
}

/* Navbar */
nav {
  background-color: var(--darkgray);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  margin: 0;
  box-shadow: 0 4px 2px -2px gray;
}

body,
html {
  margin: 0;
  padding: 0;
}

.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  margin: 0 20px;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
  background-color: var(--cyan);
  color: var(--darkgray);
}

.navbar a:focus {
  outline: none;
  background-color: var(--cyan);
  color: var(--darkgray);
}

.navbar .active {
  background-color: var(--cyan);
  color: var(--darkgray);
}

/* Responsive Navbar */
@media (max-width: 600px) {
  .navbar {
    display: block;
  }

  .navbar li {
    display: block;
    margin: 10px 0;
  }
}

/* Media Queries */
@media (min-width: 600px) {
  main {
    padding: 40px;
    width: 100%;
    max-width: 700px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .input-group label {
    flex: 1;
    margin-right: 15px;
  }

  .input-group input {
    flex: 2;
  }

  fieldset {
    padding: 10px;
  }
}

/* Large screen */
@media (min-width: 1000px) {
  main {
    padding: 50px;
    max-width: 1000px;
  }

  .contact-form .about main {
    max-width: 8vw;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .input-group label {
    width: 20%;
  }

  .input-group input {
    width: 75%;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .btn.primary {
    padding: 14px 30px;
  }

  .btn.secondary {
    padding: 14px 30px;
  }
}

/* Small screen */
@media (max-width: 599px) {
  main {
    padding: 20px;
    width: 100%;
  }
  .contact-form .about main {
    min-width: 300px;
  }

  h2 {
    font-size: 1.25rem;
  }

  .input-group {
    display: block;
  }

  .input-group label {
    margin-bottom: 8px;
  }

  .input-group input {
    width: 100%;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .btn.primary {
    padding: 12px;
    font-size: 0.9rem;
  }

  .btn.secondary {
    padding: 12px;
    font-size: 0.9rem;
    margin: 0;
    margin-top: 10px;
  }
}

/* Very small screens */
@media (max-width: 400px) {
  .contact-form .about main {
    min-width: 300px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .input-group input {
    font-size: 0.875rem;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .btn.primary {
    padding: 12px;
    font-size: 0.9rem;
  }

  .btn.secondary {
    padding: 12px;
    font-size: 0.9rem;
    margin: 0;
    margin-top: 10px;
  }
}
